In [1]:
# Read Text Files with Pandas using read_table()
import warnings
from glob import glob
# Importing library
import numpy as np
from functools import reduce
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

from tqdm.auto import tqdm

In [ ]:
df_jan = pd.read_csv("datasets/JAN2021.csv")  #1
df_feb = pd.read_csv("datasets/FEB2021.csv")  #2
df_mar = pd.read_csv("datasets/MAR2021.csv")  #3
df_apr = pd.read_csv("datasets/APR2021.csv")  #4
df_may = pd.read_csv("datasets/MAY2021.csv")  #5
df_jun = pd.read_csv("datasets/JUN2021.csv")  #6
df_jul = pd.read_csv("datasets/JUL2021.csv")  #7
df_aug = pd.read_csv("datasets/AUG2021.csv")  #8
df_sep = pd.read_csv("datasets/SEP2021.csv")  #9
df_oct = pd.read_csv("datasets/OCT2021.csv")  #10
df_nov = pd.read_csv("datasets/NOV2021.csv")  #11
df_dec = pd.read_csv("datasets/DEC2021.csv")  #12

print(df_jan.shape)  #1
print(df_feb.shape)  #2
print(df_mar.shape)  #3
print(df_apr.shape)  #4
print(df_may.shape)  #5
print(df_jun.shape)  #6
print(df_jul.shape)  #7
print(df_aug.shape)  #8
print(df_sep.shape)  #9
print(df_oct.shape)  #10
print(df_nov.shape)  #11
print(df_dec.shape)  #12

In [ ]:
# Find the unique values of MeterID in each Month
# 1
print(df_jan["MeterID"].unique())
print("MeterID values count in Jan: ", df_jan["MeterID"].nunique(dropna=True))
# 2
print(df_feb["MeterID"].unique())
print("MeterID values count in Feb: ", df_feb["MeterID"].nunique(dropna=True))
# 3
print(df_mar["MeterID"].unique())
print("MeterID values count in Mar: ", df_mar["MeterID"].nunique(dropna=True))
# 4
print(df_apr["MeterID"].unique())
print("MeterID values count in Apr: ", df_apr["MeterID"].nunique(dropna=True))
# 5
print(df_may["MeterID"].unique())
print("MeterID values count in May: ", df_may["MeterID"].nunique(dropna=True))
# 6
print(df_jun["MeterID"].unique())
print("MeterID values count in Jun: ", df_jun["MeterID"].nunique(dropna=True))
# 7
print(df_jul["MeterID"].unique())
print("MeterID values count in Jul: ", df_jul["MeterID"].nunique(dropna=True))
# 8
print(df_aug["MeterID"].unique())
print("MeterID values count in Aug: ", df_aug["MeterID"].nunique(dropna=True))
# 9
print(df_sep["MeterID"].unique())
print("MeterID values count in Sep: ", df_sep["MeterID"].nunique(dropna=True))
# 10
print(df_oct["MeterID"].unique())
print("MeterID values count in Oct: ", df_oct["MeterID"].nunique(dropna=True))
# 11
print(df_nov["MeterID"].unique())
print("MeterID values count in Nov: ", df_nov["MeterID"].nunique(dropna=True))
# 12
print(df_dec["MeterID"].unique())
print("MeterID values count in Dec: ", df_dec["MeterID"].nunique(dropna=True))

In [ ]:
# Apply intersect1d to (a list of) multiple lists:
meters_id = reduce(np.intersect1d, (list(df_jan["MeterID"].unique()),
                                    list(df_feb["MeterID"].unique()),
                                    list(df_mar["MeterID"].unique()),
                                    list(df_apr["MeterID"].unique()),
                                    list(df_may["MeterID"].unique()),
                                    list(df_jun["MeterID"].unique()),
                                    list(df_jul["MeterID"].unique()),
                                    list(df_aug["MeterID"].unique()),
                                    list(df_sep["MeterID"].unique()),
                                    list(df_oct["MeterID"].unique()),
                                    list(df_nov["MeterID"].unique()),
                                    list(df_dec["MeterID"].unique()))).tolist()

In [ ]:
print(len(meters_id))
meters_id[:10]

In [ ]:
df_jul['MeterID'] = df_jul['MeterID'].astype(str)
df_jul.dtypes

In [ ]:
# test 
df_jan.dtypes

In [2]:
def wrangle(filepath):
    # Read CSV file
    df = pd.read_csv(filepath)
    
    # Change int64 to object
    df["MeterID"] = df["MeterID"].astype("str")

    # Change object to datetime
    df["DATE-Time"] = pd.to_datetime(df["DATE-Time"], infer_datetime_format=True)
    
    return df

In [3]:
files = sorted(glob("datasets/*2021.csv"))
files

['datasets/01JAN2021.csv',
 'datasets/02FEB2021.csv',
 'datasets/03MAR2021.csv',
 'datasets/04APR2021.csv',
 'datasets/05MAY2021.csv',
 'datasets/06JUN2021.csv',
 'datasets/07JUL2021.csv',
 'datasets/08AUG2021.csv',
 'datasets/09SEP2021.csv',
 'datasets/10OCT2021.csv',
 'datasets/11NOV2021.csv',
 'datasets/12DEC2021.csv']

In [5]:
frames = []
for file in files:
    df = wrangle(file)
    frames.append(df)

In [17]:
del frames

In [4]:
base_df = pd.DataFrame()
for file in tqdm(files):
    df = wrangle(file)
    # frames.append(df)
    base_df = pd.concat([base_df, df])

  0%|          | 0/12 [00:00<?, ?it/s]

In [22]:
base_df = base_df[base_df["MeterID"].isin(df_user["MeterID"].astype(str).tolist())]

In [26]:
base_df.to_csv("datasets/All_months.csv", index=False)

In [27]:
base_df.isnull().sum()

MeterID         0
DATE-Time       0
KWH          1328
dtype: int64

In [21]:
base_df[base_df["MeterID"] == "6200016389"]

            MeterID           DATE-Time    KWH
1167360  6200016389 2021-01-01 00:00:00  0.145
1167361  6200016389 2021-01-01 00:15:00  0.128
1167362  6200016389 2021-01-01 00:30:00  0.079
1167363  6200016389 2021-01-01 00:45:00  0.110
1167364  6200016389 2021-01-01 01:00:00  0.145
...             ...                 ...    ...
1206242  6200016389 2021-12-31 22:45:00  0.125
1206243  6200016389 2021-12-31 23:00:00  0.124
1206244  6200016389 2021-12-31 23:15:00  0.096
1206245  6200016389 2021-12-31 23:30:00  0.215
1206246  6200016389 2021-12-31 23:45:00  0.241

[33984 rows x 3 columns]

In [ ]:
()

In [ ]:
type(frames)

In [ ]:
type(meters_id)

In [ ]:
meters_id[:5]

In [ ]:
cols = ['MeterID']
df_meter = pd.DataFrame(meters_id, columns=cols)
df_meter

In [ ]:
# saving the dataframe 
filepath = "datasets/meterid.csv"
df_meter.to_csv(filepath, index=False)

In [6]:
# Test
df_user = pd.read_csv("datasets/meterid.csv")  # number id of users
print(len(df_user))

8535

In [7]:
df_user

         MeterID
0     6200016389
1     6200020092
2     6200020094
3     6200020383
4     6200020385
...          ...
8530  6200116734
8531  6200116737
8532  6200117386
8533  6200118330
8534  6200120489

[8535 rows x 1 columns]

In [ ]:
df_user["MeterID"]

In [ ]:
type(frames[0])

In [ ]:
frames[0]

In [ ]:
frames[0][frames[0]['MeterID']== meters_id[0]]

In [ ]:
meters_id[0].dtype

In [ ]:
frames[0]['MeterID']

In [15]:
for userid in tqdm(df_user["MeterID"]):
    print(userid)
    month_list = []
    for monthdf in frames:
        selected_df = monthdf[monthdf["MeterID"] == str(userid)]
        month_list.append(selected_df)
        # print(monthdf)
    
    pd.concat(month_list).to_csv(f"datasets/Meterid/{userid}.csv")
    # break

  0%|          | 0/8535 [00:00<?, ?it/s]

6200016389
6200020092
6200020094
6200020383
6200020385
6200020386
6200020389
6200020426
6200020427
6200020430
6200021112
6200021113
6200021115
6200021191
6200021238
6200021291
6200021298
6200021365
6200021399
6200021400
6200021402
6200021403
6200021413
6200021417
6200021428
6200021507
6200021519

KeyboardInterrupt:

In [12]:
pd.concat(month_list)

            MeterID           DATE-Time    KWH
1167360  6200016389 2021-01-01 00:00:00  0.145
1167361  6200016389 2021-01-01 00:15:00  0.128
1167362  6200016389 2021-01-01 00:30:00  0.079
1167363  6200016389 2021-01-01 00:45:00  0.110
1167364  6200016389 2021-01-01 01:00:00  0.145
...             ...                 ...    ...
1206242  6200016389 2021-12-31 22:45:00  0.125
1206243  6200016389 2021-12-31 23:00:00  0.124
1206244  6200016389 2021-12-31 23:15:00  0.096
1206245  6200016389 2021-12-31 23:30:00  0.215
1206246  6200016389 2021-12-31 23:45:00  0.241

[33984 rows x 3 columns]

In [ ]:
monthdf[monthdf["MeterID"] == str(userid)]

In [ ]:
userid